/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0b1e4b, #050026); /* Dark blue background */
    color: white;
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.logo {
    width: 111px;
    height: auto;
    margin-bottom: 20px;
}

nav {
    position: absolute;
    top: 20px;
    right: 10px;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #2b3b63;
    min-width: 120px;
    z-index: 1000;
}

.hamburger:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Photography Gallery Styles */
.photo-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo-gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.photo-gallery-item:hover {
    transform: scale(1.02);
}

.photo-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s;
}

/* Lightbox styling */
.photo-lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}

.photo-lightbox-content {
    max-width: 60%;
    max-height: 80%;
    margin-top: 5%;
}

.photo-lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.photo-lightbox-close:hover {
    color: #ccc;
}

#photo-lightbox-caption {
    margin: 15px auto;
    color: white;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 768px) {
    .photo-gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    
    .photo-lightbox-content {
        max-width: 90%;
        max-height: 70%;
    }
}